@import 'tailwindcss';

@font-face {
  font-family: 'Clash Display';
  src:
    url('./fonts/ClashDisplay-Regular.woff2') format('woff2'),
    url('./fonts/ClashDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src:
    url('./fonts/ClashDisplay-Semibold.woff2') format('woff2'),
    url('./fonts/ClashDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src:
    url('./fonts/ClashDisplay-Bold.woff2') format('woff2'),
    url('./fonts/ClashDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-primary: 'Clash Display', sans-serif;
  --color-primary: #da0037;
  --color-secondary: #333333;
  --color-white: #ededed;
  --color-black: #000000;
  --color-background-primary: #212121;
}

@layer utilities {
  .custom-text-outline-white {
    -webkit-text-stroke-width: 2px; /* Ajustez cette valeur (ex: 1px, 2px, 3px) pour l'épaisseur du contour */
    -webkit-text-stroke-color: var(--color-white);
  }
}
